/* .deleteBtnBlog {
  position: absolute;
  top: -10px;
  right: -10px;
  background: white;
  border-radius: 50px;
  box-shadow: 0px 0px 9px -3px black;
  width: 30px;
  height: 50px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.deleteBtnBlog:hover {
  background: #f4eeee;
} */
/* .publishBtnBlog {
  position: absolute; */
  /* top: -10px;
  right: -10px; */
  /* bottom: 20px;
  left: 10px; */
  /* background: white;
  border-radius: 50px;
  box-shadow: 0px 0px 9px -3px black;
  width: 30px;
  height: 50px;
  height: 30px; */
  /* display: flex;
  align-items: center;
  justify-content: center; */
  /* cursor: pointer; */


/* .css-1jlaeox-MuiButtonBase-root-MuiButton-root {
  border-radius: 50px;
}

.css-hbw9ir-MuiPaper-root-MuiCard-root{
  border-radius: 0;
  box-shadow:0px 0px 0px 0px;
  background-color: #F9FAFB;
}
.css-zd3kbk-MuiPaper-root-MuiCard-root{
  border-radius: 0;
  box-shadow:0px 0px 0px 0px;
  background-color: #F9FAFB;
}

.css-1y769jc-MuiTable-root{
  background-color: #fff;
}

.MuiSvgIcon-fontSizeLarge {
  font-size: xx-large;
  margin-left: 499px;
  cursor: pointer; 
}

.orderTool{
  font-size: 2.1875rem;
  margin-left: 262px;
  cursor: pointer;
} */